/* General body style */
body{
   font-family: 'Open Sans', sans-serif; 
   margin: 0;
   padding: 0;
   line-height: 1.6;
   color: black;
   background: white;
   box-sizing: border-box;
}

/* Inherit box-sizing to all elements */
*,*::before, *::after{
    box-sizing: inherit;
}

